<h1><%= @title %></h1>

<p>
  Filter data from <a href='https://masternodes.online'>masternodes.online</a>
  to make it easier to assess masternode coins.
</p>

<%= erb :_table, locals: { coins: @data } %>
<p class='small text-center'>
  Updated at: <%= @updated_at %>
</p>
