<html>
  <head>
    <link rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css' type='text/css' media='screen' />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js'></script>
  </head>
  <body>
    <%= yield %>

    <script>
      function toFloat(str) {
        if (str === '?') {
          return 0;
        } else {
          return parseFloat(str.replace(/[^0-9\.\-]/g, ''));
        }
      }

      function valueExceedsLimit(dataIndex, $limitElement, data) {
        var value = toFloat(data[dataIndex]);
        var limit = toFloat($limitElement.val());

        if (isNaN(limit) || isNaN(value)) {
          return true;
        } else {
          return (value >= limit);
        }
      }

      $.fn.dataTable.ext.search.push(function(settings, data, dataIndex) {
        return valueExceedsLimit(3, $('#minVolume'), data);
      });

      $.fn.dataTable.ext.search.push(function(settings, data, dataIndex) {
        return valueExceedsLimit(4, $('#minMarketCap'), data);
      });

      $.fn.dataTable.ext.search.push(function(settings, data, dataIndex) {
        return valueExceedsLimit(5, $('#minRoi'), data);
      });

      $.fn.dataTable.ext.search.push(function(settings, data, dataIndex) {
        return valueExceedsLimit(6, $('#minMasternodes'), data);
      });

      $.fn.dataTable.ext.search.push(function(settings, data, dataIndex) {
        return valueExceedsLimit(8, $('#minMasternodeValue'), data);
      });

      $(document).ready(function() {
        var table = $('#dataTable').DataTable();

        $('#minVolume, #minMarketCap, #minRoi, #minMasternodes, #minMasternodeValue').keyup(function() {
          table.draw();
        });

      });
    </script>
  </body>
</html>
